{% extends 'mw/base.html' %}
{% block title %}European Mediumwave Station List - about{% endblock %}
{% block content %}        
	<h2>About this site</h2>
	<h4>The European MW Station List by M1LOL</h4>
	<hr>
	<p>This site was originally inspired by a now defunct website, the <em>Euro-African Medium Wave Guide</em>. Because of a poor (to say the least!) home location I'm often out and about when MW DXing and I found the site an invaluable resource when coming across an unidentified station. This site is designed to make it as easy as possible to answer the question "what's that station?"</p>
	<p>The site has been developed to be as simple and straightforward as possible to use on smart mobile phones and tablets. Very few images are used and very little bandwidth is required, making it ideal when out 'in the field' with a low-speed connection and low-power device.</p>
	<p>On a technical level, the site is written in <a href="https://www.python.org/">Python</a> using the <a href="https://www.djangoproject.com/">Django</a> framework.</p>
	<p>Please do send me your feedback, comments, bugs, ideas for improvements, and data corrections/updates via email: <a href="mailto:radio@mwradio.eu">radio@mwradio.eu</a>.</p>
    <p><strong>Please note that I am not a radio station - if you are trying to contact a radio station, please Google your request again.</strong></p>
	
	<h3>Links to related sites</h3>
	<a href="http://www.asiawaves.net/">Asiawaves</a>: An <em>extremely</em> comprehensive guide to broadcasting in South and South-East Asia, including China, India, Korea (N&S), Japan and Australia/NZ. <br />
	<a href="http://www.radio-locator.com">Radio-Locator</a>: For looking up AM (and FM) broadcast radio stations in the United States.
{% endblock %}
