{% extends 'mw/base.html' %}
{% block title %}European Mediumwave Station Guide - list by frequency 531-1602 kHz{% endblock %}
{% block content %}
    <h5>
        You are here: Home / Frequencies
        {% if request.path == "/lw/" %}
         / Longwave
        {% endif %}
    </h5>
            {% load static %}
            {% regroup stations by freq as frequencies %}
            {% for freq in frequencies %}
                <h2 class="title"><a href="/freq/{{freq.grouper}}/">{{freq.grouper}} kHz</a></h2>
                {% for station in freq.list %}
                <p><a href="{{ station.get_absolute_url }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a> <span class="country" title="{{station.transmitter.country_name}}"><img src="{% static "img/flags_iso/" %}{{station.transmitter.iso}}.png"> {{station.transmitter.iso}}</span> <strong><a href="/station/{{station.station_name.network_slug}}/">{{station.station_name}}</a></strong>
                {% if station.subnetwork %}
                  <span class="subnetwork">[{{ station.subnetwork }}]</span>
                {% endif %}
                <em>{{station.location}}</em> {{station.transmitter}} ({{station.power.normalize}}kW)
                {% if station.notes %}
                  <br /><span class="notes"><strong>Notes:</strong> {{ station.notes }}</span>
                {% endif %}
                </p>
            {% endfor %}
        {% endfor %}
{% endblock %}
