{% extends 'mw/base.html' %}
{% block title %}European Mediumwave Station Guide - search results{% endblock %}
{% block content %}
{% load static %}
    <h5>You are here: Home / Search</h5>
    <h2 class="title">Search results</h2>

<!-- <form action="" method="get">
    Search:
    <input type="search" name="q" value="{{ q }}"/>
    <input type="submit" value="Search"/>
</form> -->

{% for station in object_list %}
    <p><a href="/detail/{{station.pk}}/"><i class="fa fa-info-circle" aria-hidden="true"></i></a> <span class="country" title="{{station.country}}"><img src="{% static "img/flags_iso/" %}{{station.country.iso}}.png"> {{station.country.iso}}</span> <strong><a href="{{station.freq}}">{{station.freq}} kHz</a> / <a href="/station/{{station.station_name}}/">{{station.station_name}}</a></strong> <em>{{station.location}}</em> {{station.transmitter}} ({{station.power.normalize}}kW) </p>
{% endfor %}
{% endblock %}
